spring:
  application:
    name: anime-service
  web:
    error:
      include-stacktrace: on_param
  threads:
   virtual:
     enabled: true
  mvc:
    apiversion:
      use:
        header: X-API-Version
      default: 1
server:
  servlet:
    context-path: /
  tomcat:
    threads:
      max: 20